<ng-container class="bg-warning" *ngIf="sesionActiva$|async ">

  <div class="container">

    <div class="row">

      <div class="col-12 col-md-1"></div>
      <div class="col-12 col-md-10 mt-4">

        <div id="list-example" class="list-group">
          <button mat-raised-button disabled>
            Menu
          </button>

          <button mat-raised-button (click)="irInicio()">
            Inicio
          </button>
          <a mat-raised-button routerLink="cursos/table">
            Tabla
          </a>
          <a mat-raised-button routerLink="cursos/list">
            Lista
          </a>
        </div>
      </div>
      <div class="col-12 col-md-1"></div>
    </div>

  </div>
</ng-container>
