<!-- <ng-container *ngIf="sesionActiva$|async     "> -->

<h1>
  tolbar
</h1>

<ng-container>



  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button routerLink="home" class="tit-toolbar">Control Escolar</a>
    <span class="example-spacer"> </span>
    <button mat-button (click)="irInicio()">
      Inicio
    </button>
    <a *ngIf="(sesionActiva$|async  )==null  " mat-button routerLink="cursos/table">
      Tabla
    </a>
    <a *ngIf="(sesionActiva$|async  )==null  " mat-button routerLink="cursos/list">
      Lista
    </a>

    <!-- <a mat-button *ngIf="(usuarioActivo$ | async)?.esAdmin"> -->
    <a mat-button>
      <mat-icon>
        supervisor_account
      </mat-icon>
    </a>

    <!-- <a mat-button *ngIf="(usuarioActivo$ | async)?.esAdmin==false"> -->
    <a mat-button>
      <mat-icon>
        school
      </mat-icon>
    </a>

    <a mat-button (click)="logOut()">
      <mat-icon>logout</mat-icon>
    </a>

  </mat-toolbar>

</ng-container>

<router-outlet></router-outlet>