<div class="container back-error">
  <div class="row">

    <div class="col-2 "></div>

    <div class="col-8 ">

      <div class="tit-1  pb-3 ">
        <h1>Bienvenido al Sistema de Control Escolar</h1>
      </div>

      <img class="img-fluid "
        src="https://img.freepik.com/fotos-premium/estudiantes-graduados-universidad-dia-graduacion-concepto-felicitaciones-graduados-escuela-generativo-ai_90099-1743.jpg?w=1480"
        alt="">
    </div>

    <div class="col-2"></div>



  </div>
</div>