<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>


    <h1>app component</h1>

    <div class="row">
      <app-toolbar> </app-toolbar>
    </div>

    <div class="row fondo-1">

      <div class="col-4">
        <h1>contenedor navbar en app container</h1>
        <app-navbar></app-navbar>
      </div>

      <div class="col-6">
        <h1>
          coo-6 contenedor principal de app component
        </h1>

        <router-outlet></router-outlet>
      </div>

    </div>


  </body>



</html>