.fill {
  width: 100%;
}

.blue-snackbar {
  background: #2196f3;
}

.icon-user {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.contain-user {
  display: flex;
  justify-content: center;
  max-width: 70px;
}
